* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: -1;
}

.logo {
    text-align: left;
    width: 120px;
    float: left;
    border-radius: 50%;
    margin-left:40px;
    margin-right:60px;
}

.del {
    width: 60px;
    float: left;
    border-radius: 50%;
    margin-right: 200px;
}
.byket {
    width: 80px;
    float: left;
    margin-right: 100px;
}

.bykety {
    
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    grid-template-rows: 150px 150px 150px;
    grid-column-gap: 25px;
    grid-row-gap: 15px;
    justify-content: center;
}

.bh {
    justify-content: center;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
}

.zakazy {
    background-color: #b5ecf5;
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: repeat(9, 150px);
    grid-column-gap: 25px;
    grid-row-gap: 15px;
    justify-content: center;
}

.zh {
    justify-content: center;
    display: grid;
    color: #333;
}

.zdiv {
    line-height: 1.5;
    background-color: white;
    color: #333;
    padding: 40px;
}

.menu {
    display: none;
    margin-top:30px; /* Скрыть меню на мобильных устройствах */
}

.menu-toggle {
    display: block; /* Кнопка меню для мобильных устройств */
}

.header-content {
    display: grid;
    grid-template-columns: 800px 300px 300px;
    grid-template-rows: 150px 150px 150px;
    grid-column-gap: 25px;
    grid-row-gap:15px;
}

.name {
    line-height: 1.5;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-bottom: 30px;
    margin-left: 60px;
}

.navbar {
    flex-direction: row;
    width: 100%;
}

.cta-button {
    text-align: center;
    background-color: #af51db;
    color: white;
    float: left;
    margin: 50px;
    margin-left: 50px;
    margin-right: 500px;
    padding: 10px;
    text-decoration: none;
    border-radius: 50%;
}

.sidebar {
    display: none; /* Скрыть боковую панель на мобильных устройствах */
}




@media(min-width: 768px) {
    header {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .menu {
        display: block; /* Показать меню на больших экранах */
    }

    .menu-list {
        text-align: right;
        display: flex;
        list-style-type: none;
    }

        .menu-list li {
            
            position: relative;
            margin-right: 20px;
        }

            .menu-list li a {
                text-decoration: none;
                color: white;
            }

    .submenu {
        display: none; /* Скрыть подменю по умолчанию */
        position: absolute;
        background-color: #af51db;
        list-style-type: none;
        padding: 10px;
        text-align: left;
    }

    .menu-list li:hover .submenu {
        display: block; /* Показать подменю при наведении */
    }

    .menu-toggle {
        display: none;
    }

    .sidebar {
        display: block; /* Показать боковую панель на больших экранах */
        margin-left: 20px;
    }
}
